@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <img src="~/images/cheypass.jpg" class="img-fluid rounded shadow" alt="tickets banner" style="max-height: 300px; ">

    <div class="text-center mt-4">
        <a asp-controller="Purchase" asp-action="UserOrGuest" class="btn btn-primary btn-lg px-5 shadow-sm" style="border-radius: 30px; ">
            buy tickets
        </a>

    </div>





</div>