

@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>My About page for COMP 2139 Labs!</p>

<h2>My Student Profile</h2>
<ul>
    <li><strong>name: </strong>cheyanne drysdale</li>
    <li><strong>student ID: </strong>101085815</li>
    <li><strong>course code: </strong>COMP 2139</li>
    <li><strong>section: </strong>0001</li>
</ul>


