

@{
    ViewData["Title"] = "About";

    var studentName = "cheyanne drysdale";
    var studentNumber = "101085815";
    var courseCode = "COMP2139";
    var courseSction = "0001";
}

<h1 xmlns="http://www.w3.org/1999/html">@ViewData["Title"]</h1>


<p><strong>a little bit about me... :)</strong></p>
<p>hi, my name is cheyanne drysdale! i'm currently enrolled in the <strong>computer programming and analysis program (T197) </strong> at George Brown College.</p>
<p>this is my third semester.</p>

<h2>My Student Profile</h2>
<ul>
    <li><strong>name: </strong>cheyanne drysdale</li>
    <li><strong>student ID: </strong>101085815</li>
    <li><strong>course code: </strong>COMP 2139</li>
    <li><strong>section: </strong>0001</li>
</ul>


